.title-text {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 1px 1px grey;
}

.title-div {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  width: 100%;
  text-align: center;
  border: 1px solid black;
}
