.title-text {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 1px 1px grey;
  font-family: Helvetica;
}

.title-div {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  width: 100%;
  text-align: center;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iconDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  opacity: 0.6;
}

.iconHome {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  opacity: 0.6;
}

.icon:hover {
  border-radius: 5px;
  opacity: 1;
  cursor: pointer;
}
.iconHome:hover {
  border-radius: 5px;
  opacity: 1;
  cursor: pointer;
}
